<h1 class = "gamesHeader">Games:</h1>
<hr id = "titleBreak"/>

<div class="games">

  <% @all_games.each do |l| -%>
    <a href="/pages/<%=l.id%>" id="game">
      <li class="game">
        <p id="slideinfo">
          <%=l.name%>
        </p>
      </li>
      <%=image_tag("Text-game-logo.png", alt:"text game logo")%>
    </a>
  <% end %>

</div>
