<h1 class = "gamesHeader">Games:</h1>
<hr id = "titleBreak"/>

<div class="games">

  <div id = "game">
    <a href="">
      <p id = "slideinfo">
        Text Adventure Game
      </p>
    </a>
    <%=image_tag("Text-game-logo.png", alt:"text game logo")%>
  </div>

</div>
